html, body {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#form-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#label, #input, #button {
  margin: 1em;
}

#canvas-wrapper {
  flex: 1;
  height: 100%;
}

#canvas {}
